@page "/"
@using MYCOLL.Entities
@using MYCOLL.Components.Layout

<PageTitle>Home</PageTitle>

<Carousel Title="Seleção" Products="MeusProdutos" Type="Small"/>

<Carousel Title="Destacados" Products="meusProdutos2" Type="Big" />

<h4>A nossa Sugestão: </h4>


@code {
    List<Produto> MeusProdutos = new List<Produto>
    {
        new Produto
        {
            Id = 1,
            Nome = "Açaí na Tigela",
            Detalhe = "Açaí fresco com banana e granola",
            URLImagem = "/images/acai.png",
            Preco = 8.50m,
            Disponivel = true,
            CategoriaId = 1
        },
        new Produto
        {
            Id = 2,
            Nome = "Bananas",
            Detalhe = "Cacho de bananas frescas",
            URLImagem = "/images/bananas.jpg",
            Preco = 1.99m,
            Disponivel = true,
            CategoriaId = 1
        },
        new Produto
        {
            Id = 3,
            Nome = "Cerejas",
            Detalhe = "Cerejas vermelhas selecionadas",
            URLImagem = "/images/cereja.jpg",
            Preco = 4.50m,
            Disponivel = true,
            CategoriaId = 1
        },
        new Produto
        {
            Id = 4,
            Nome = "Cesto de Frutas",
            Detalhe = "Cesto completo para presente",
            URLImagem = "/images/cestofrutas.jpg",
            Preco = 35.00m,
            MaisVendido = true,
            Disponivel = true,
            CategoriaId = 2
        },
        new Produto
        {
            Id = 5,
            Nome = "Compota de Pêssego",
            Detalhe = "Doce caseiro em frasco",
            URLImagem = "/images/compotapessego.jpg",
            Preco = 6.20m,
            Disponivel = true,
            CategoriaId = 3
        },
        new Produto
        {
            Id = 6,
            Nome = "Crepe de Morango",
            Detalhe = "Crepe com chocolate e morangos",
            URLImagem = "/images/crepemorangoschocolate.png",
            Preco = 5.00m,
            Promocao = true,
            Disponivel = true,
            CategoriaId = 4
        }
    };
    List<Produto> meusProdutos2 = new List<Produto>
    {
        new Produto
        {
            Id = 8,
            Nome = "Compota de Pêssego",
            Detalhe = "Doce caseiro em frasco",
            URLImagem = "/images/compotapessego.jpg",
            Preco = 6.20m,
            Disponivel = true,
            CategoriaId = 3
        },
        new Produto
        {
            Id = 9,
            Nome = "Crepe de Morango",
            Detalhe = "Crepe com chocolate e morangos",
            URLImagem = "/images/crepemorangoschocolate.png",
            Preco = 5.00m,
            Promocao = true,
            Disponivel = true,
            CategoriaId = 4
        }
    };
}