@page "/sobre"
<h3>Sobre</h3>


<h4>Informações de contacto</h4>
<h5>@AppConfig.tituloHomePage</h5>
<p>Email: @AppConfig.email</p>
<p>Telefone: @AppConfig.telefone</p>
<p>@AppConfig.enderecoHome</p>

@code {

}
