@page "/subcategoria/create"
@using Microsoft.EntityFrameworkCore
@using MYCOLL.Entities
@using MYCOLL.Services
@inject IDbContextFactory<MYCOLL.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager
@inject CategoriaService CategoriaService
@inject SubCategoriaService SubCategoriaService

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>SubCategoria</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="SubCategoria" OnValidSubmit="AddSubCategoria" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="nome" class="form-label">Nome:</label> 
                <InputText id="nome" @bind-Value="SubCategoria.Nome" class="form-control" /> 
                <ValidationMessage For="() => SubCategoria.Nome" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="ativo" class="form-label">Ativo:</label> 
                <InputCheckbox id="ativo" @bind-Value="SubCategoria.Ativo" class="form-check-input" /> 
                <ValidationMessage For="() => SubCategoria.Ativo" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="categoriaid" class="form-label">Categoria:</label>
                <InputSelect id="categoriaid" class="form-select" @bind-Value="@SubCategoria.CategoriaId">
                    <option value="-1">Escolha uma Categoria</option>
                    @foreach (var item in selCategorias)
                    {
                        <option value="@item.Id">@item.Nome</option>
                    }
                </InputSelect>
                <ValidationMessage For="() => SubCategoria.CategoriaId" class="text-danger" />
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/subcategoria">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private SubCategoria SubCategoria { get; set; } = new();
    IEnumerable<Categoria> selCategorias = Enumerable.Empty<Categoria>();

    protected override async Task OnInitializedAsync()
    {
        selCategorias = await CategoriaService.GetCategorias();       
    }
    private async Task AddSubCategoria()
    {
		var result = await SubCategoriaService.CreateSubCategoria(SubCategoria);
        NavigationManager.NavigateTo("/subcategoria");
    }
}
