@page "/subcategoria/edit"
@using Microsoft.EntityFrameworkCore
@using MYCOLL.Entities
@using MYCOLL.Services
@inject IDbContextFactory<MYCOLL.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager
@inject SubCategoriaService SubCategoriaService

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>SubCategoria</h2>
<hr />
@if (SubCategoria is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="SubCategoria" OnValidSubmit="UpdateSubCategoria" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="SubCategoria.Id" value="@SubCategoria.Id" />
                <div class="mb-3">
                    <label for="nome" class="form-label">Nome:</label>
                    <InputText id="nome" @bind-Value="SubCategoria.Nome" class="form-control" />
                    <ValidationMessage For="() => SubCategoria.Nome" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="ativo" class="form-label">Ativo:</label>
                    <InputCheckbox id="ativo" @bind-Value="SubCategoria.Ativo" class="form-check-input" />
                    <ValidationMessage For="() => SubCategoria.Ativo" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="categoriaid" class="form-label">CategoriaId:</label>
                    <InputNumber id="categoriaid" @bind-Value="SubCategoria.CategoriaId" class="form-control" />
                    <ValidationMessage For="() => SubCategoria.CategoriaId" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/subcategoria">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private SubCategoria? SubCategoria { get; set; }

    protected override async Task OnInitializedAsync()
    {
        SubCategoria ??= await SubCategoriaService.GetSubCategoriaById(Id);

        if (SubCategoria is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
    private async Task UpdateSubCategoria()
    {
		await SubCategoriaService.UpdateSubCategoria(Id, SubCategoria!);
        NavigationManager.NavigateTo("/subcategoria");
    }

    private bool SubCategoriaExists(int id)
    {
		bool sub = SubCategoriaService.GetSubCategoriasByCategoriaId(id) != null ? true:false;
        return sub;
    }
}
