@page "/subcategoria"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using MYCOLL.Entities
@using MYCOLL.Data
@using MYCOLL.Services
@inject IDbContextFactory<MYCOLL.Data.ApplicationDbContext> DbFactory
@inject SubCategoriaService SubCategoriaService
@attribute [Authorize(Roles = "Admin, Funcionario")]
<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="subcategoria/create">Create New</a>
</p>

<QuickGrid Class="table" Items="subcategorias.AsQueryable()">
    <PropertyColumn Property="subcategoria => subcategoria.Nome" />
    <PropertyColumn Property="subcategoria => subcategoria.Ativo" />
    <PropertyColumn Property="subcategoria => subcategoria.CategoriaId" />

    <TemplateColumn Context="subcategoria">
        <a href="@($"subcategoria/edit?id={subcategoria.Id}")">Edit</a> |
        <a href="@($"subcategoria/details?id={subcategoria.Id}")">Details</a> |
        <a href="@($"subcategoria/delete?id={subcategoria.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    //private ApplicationDbContext context = default!;
	private IEnumerable<SubCategoria> subcategorias = Enumerable.Empty<SubCategoria>();

    protected async override Task OnInitializedAsync()
    {
        //context = DbFactory.CreateDbContext();
		subcategorias = await SubCategoriaService.GetSubCategorias();
    }

    //public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
