@page "/produtos"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using MYCOLL.Entities
@using MYCOLL.Data
@implements IAsyncDisposable
@inject IDbContextFactory<MYCOLL.Data.ApplicationDbContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="produtos/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Produtos">
    <PropertyColumn Property="produto => produto.Nome" />
    <PropertyColumn Property="produto => produto.Descricao" />
    <PropertyColumn Property="produto => produto.Preco" />
    <PropertyColumn Property="produto => produto.Stock" />
    <PropertyColumn Property="produto => produto.EstadoProduto" />
    <PropertyColumn Property="produto => produto.Tipo" />
    <PropertyColumn Property="produto => produto.URLImagem" />
    <PropertyColumn Property="produto => produto.SubcategoriaId" />
    <PropertyColumn Property="produto => produto.Imagem" />

    <TemplateColumn Context="produto">
        <a href="@($"produtos/edit?id={produto.Id}")">Edit</a> |
        <a href="@($"produtos/details?id={produto.Id}")">Details</a> |
        <a href="@($"produtos/delete?id={produto.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private ApplicationDbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
