@page "/categoria/edit"
@using Microsoft.EntityFrameworkCore
@using MYCOLL.Entities
@using MYCOLL.Services
@inject IDbContextFactory<MYCOLL.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager
@inject CategoriaService CategoriaService

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Categoria</h2>
<hr />
@if (Categoria is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Categoria" OnValidSubmit="UpdateCategoria" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Categoria.Id" value="@Categoria.Id" />
                <div class="mb-3">
                    <label for="nome" class="form-label">Nome:</label>
                    <InputText id="nome" @bind-Value="Categoria.Nome" class="form-control" />
                    <ValidationMessage For="() => Categoria.Nome" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="ativo" class="form-label">Ativo:</label>
                    <InputCheckbox id="ativo" @bind-Value="Categoria.Ativo" class="form-check-input" />
                    <ValidationMessage For="() => Categoria.Ativo" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/categoria">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private Categoria? Categoria { get; set; }

    protected override async Task OnInitializedAsync()
    {
       
        Categoria ??= await CategoriaService.GetCategoriaById(Id);

        if (Categoria is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
    private async Task UpdateCategoria()
    {
       
		await CategoriaService.UpdateCategoria(Id, Categoria!);
        NavigationManager.NavigateTo("/categoria");
    }

    private bool CategoriaExists(int id)
    {
        bool exists = CategoriaService.GetCategoriaById(id) != null;
        return exists;
    }
}
