@using MYCOLL.RCL.Entities
@code {
    [Parameter]
	[EditorRequired]
    public ProdutoDTO Product { get; set; }
}
<div class="product-card">
    <img src="@Product.URLImagem" alt="@Product.Nome" />
    <div class="overlay">
        <span class="title">@Product.Nome</span>
    </div>
</div>

<style>
    .product-card {
        min-width: 200px;
        height: 120px;
        border-radius: 4px;
        margin-right: 10px;
        transition: transform 0.3s ease;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        opacity: 0.7;
        margin-left: 5px;
        border: 1px solid #ddd;
    }

    .product-card:hover {
        opacity: 1;
       
    }

        .product-card img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        }

    .overlay {
        position: absolute;
        bottom: 0;
        background: rgba(0,0,0,0.7);
        width: 100%;
        opacity: 0;
        transition: opacity 0.3s;
        padding: 5px;
        text-align: center;
    }

    .product-card:hover .overlay {
        opacity: 1;
    }

    .title {
        color: white;
        font-size: 0.8rem;
        font-family: sans-serif;
    }
</style>

@code {

}
