@using MYCOLL.RCL.Entities
@using MYCOLL.RCL.Services
@using MYCOLL.RCL.Data.DTO
@inject CategoriaService CategoriaService
@inject ProdutoService ProdutoService
@inject AuthenticacaoService AuthenticacaoService


@if (produtos != null)
{
	<Carousel Title="Recomendados" Type="Big" Products="produtos" />
}
else
{
	<h3>Nenhum produto disponivel!</h3>
}

@code {
	IEnumerable<Categoria>? categorias;
	List<ProdutoDTO>? produtos;
	protected override async Task OnInitializedAsync()
	{
		categorias = await CategoriaService.GetCategorias();

		Random rnd = new Random();
		if (categorias is not null)
		{
			var count = categorias.Count();

		if(count > 0)
			{
				int number = rnd.Next(0, count);
				var categoriaSelecionada = categorias.ElementAt(number);
				produtos = await ProdutoService.GetProdutosByCategoria(categoriaSelecionada.Id);
			}
		}
	}
}
